body {
    background-color: lightgray; 
    overflow: scroll;
}

.campo-digitacao {
    font-size: 20px;
    height: 130px;
    border: 3px solid black;
    background-color: whitesmoke;
}

.frase {
    font-size: 20px;
    text-align: justify;
    /* text-align: left; */
}

#erro {
    color: red;
    display: none;
}

#spinner {
    display: none;
}

.campo-desativado {
    background-color: lightgray;
}

.icones {
    vertical-align: middle;
}

.borda-verde {
    border: 3px solid green;
}

.borda-vermelha {
    border: 3px solid red;
}

.placar {
    display: none;
}

#frase-id {
    width: 35px;
}

#botao-salvar {
    float: right;
}
